<link rel="stylesheet" href="/css/post.css">
<div id="post-<%= post._id %>" class="post">
  <div class="border">
    <h5 class="post-user-info">
      <img src="<%= post.user.avatar %>" alt="<%= post.user.avatar %>">
      &nbsp;<%= post.user.name %>
    </h5>
    <h5 style="display: inline;">&emsp;&emsp;<%= post.content %>
      <h6 style="display: inline;"><% if(locals.user && locals.user.id == post.user.id){ %>
        <small>
          <i class="fa-solid fa-ellipsis-vertical"></i>
          <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">Delete</a>
        </small>
        <% } %>
      </h6>
    </h5>
      <div class="post-comments">
        <% if(locals.user){ %>
        <form action="/comments/create" id="post-<%= post._id %>-comments-form" method="POST">
          <input type="text" name="content" placeholder="type here to add comment ..." required/>
          <input type="hidden" name="post" value="<%= post._id %>" />
          <input type="submit" value="Add Comment" />
        </form>
        <% } %>
        <div id="post-comments-list">
          <h5 style="position: relative;"><i class="fa-solid fa-comments" style="color: #512ad8;"></i> Comments </h5>
          <p id="post-comments-<%= post._id %>">
            <% for(comment of post.comments){ %> <%- include('_comment') -%> <% } %>
          </p>
        </div>
      </div>
    </div>
  </div>