<link rel="stylesheet" href="/css/post.css">
<div id="post-<%= post._id %>" class="post">
  <div class="border">
    <h5 class="post-user-info">
      <img src="<%= post.user.avatar %>" alt="<%= post.user.avatar %>">
      &nbsp;<%= post.user.name %>
    </h5>
    <h5 style="display: inline;">&emsp;&emsp;<%= post.content %>
      <h6 style="display: inline;"><% if(locals.user && locals.user.id == post.user.id){ %>
        <small>
          <a class="delete-post-button" href="/posts/destroy/<%= post.id %>"><i class="fa-solid fa-circle-minus fa-xl" style="color:red;"></i></a>
        </small>
        <% } %>
      </h6>
      <br>
    </h5>
    <small>
      <% if(locals.user){ %>
        <a class="toggle-like-button" data-likes=" <%= post.likes.length %> " href="/likes/toggle/?id=<%=post._id%>&type=Post">
          <% if(post.likes.length > 0){ %>
            i class="fa-solid fa-heart fa-xl"> &nbsp; </i><%= post.likes.length %>
          <% }else{ %>
            <i class="fa-solid fa-heart fa-xl"></i>
          <% } %> 
        </a>
      <% }else{ %>
        <% if(post.likes.length > 0){ %>
          <i class="fa-solid fa-heart fa-xl"> &nbsp; </i><%= post.likes.length %>
        <% }else{ %>
          <i class="fa-solid fa-heart fa-xl"></i>
        <% } %>
      <% } %>   
    </small>
    <button type="submit" id="like-button"> </button>
      <div class="post-comments">
        <% if(locals.user){ %>
        <form action="/comments/create" id="post-<%= post._id %>-comments-form" method="POST">
          <input type="text" name="content" placeholder="type here to add comment ..." required/>
          <input type="hidden" name="post" value="<%= post._id %>" />
          <input type="submit" value="Add Comment"/>
        </form>
        <% } %>
        <div id="post-comments-list">
          <h5 style="position: relative;"><i class="fa-solid fa-comments" style="color: #512ad8;"></i> Comments </h5>
          <p id="post-comments-<%= post._id %>">
            <% for(comment of post.comments){ %> <%- include('_comment') -%> <% } %>
          </p>
        </div>
      </div>
    </div>
  </div>
