<!-- <link rel="stylesheet" href="/css/user_profile.css"> -->


<% if(user.id == profile_user.id) { %>
  <aside>
    <img src="<%= user.avatar %> " alt="<%= user.name %>">
  </aside>
  <div class="profile-info">
    <div class="personal-details">
        <p class="p-title"> <i class="fa-solid fa-qrcode"></i> User Information : </p>
        <p class="p-details"> User Name: <%= user.name %> </p>
        <p class="p-details"> User Email: <%= user.email %> </p>
    </div>
<!-- if user matches then show the form -->
  <div class="update-form">
    <p class="form-title"><i class="fa-solid fa-file-pen"></i> Update Form : </p>
      <div class="form-details">
      <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
        <label for="name"> <i class="fa-solid fa-signature"></i> Update your name: </label>
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required />
        <label for="email"> <i class="fa-solid fa-at"></i> Update your Email: </label>
        <input type="text" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required />
        <label for="avatar"> <i class="fa-solid fa-upload"></i> Upload your profile pic: </label>
        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="Update" />
      </form>
    </div>
  </div>
  <div id="friend-requests">
    
  </div>
</div>
<% }else{ %>
<!-- else only the profile info -->
<aside>
  <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" height="200px" width="200px">
</aside>
<div class="profile-user-dtls">
  <div class="personal-details">
    <p class="p-title"> <i class="fa-solid fa-qrcode"></i> Profile Information : </p>
    <p class="p-details"> <%= profile_user.name %> </p>
    <p class="p-details"> <%= profile_user.email %> </p>
  </div>
</div>
<div id="add-friend">
  <button id="addFrndBtn" userID="<%= profile_user.id %>"><i class="fa-solid fa-user-plus"></i>&nbsp;Add Friend</button>
</div>
<% } %>
<script src="/js/frineds.js"></script>

